
@{
    ViewBag.Title = "Buttons";
}
<h2>Estilos predefinidos</h2>
<button type="button" class="btn btn-default">btn btn-default</button>
<button type="button" class="btn btn-primary">btn btn-primary</button>
<button type="button" class="btn btn-success">btn btn-success</button>
<button type="button" class="btn btn-warning">btn btn-warning</button>
<button type="button" class="btn btn-info">btn btn-info</button>
<button type="button" class="btn btn-danger">btn btn-danger</button>
<button type="button" class="btn btn-link">btn btn-link</button>

<h2>Tamaños</h2>
<button type="button" class="btn btn-lg">btn btn-lg</button>
<button type="button" class="btn">btn</button>
<button type="button" class="btn btn-sm">btn btn-sm</button>
<button type="button" class="btn btn-xs">btn btn-xs</button>

<h2>Full ancho</h2>
<button type="button" class="btn btn-block">btn btn-block</button>
<button type="button" class="btn btn-default btn-lg btn-block">btn btn-default btn-lg btn-block</button>

<h2>Clase ACTIVE</h2>
<button type="button" class="btn btn-default active">btn btn-default active</button>
<button type="button" class="btn btn-default">btn btn-default</button>

<h2>Deshabilitado</h2>
<button type="button" class="btn btn-primary" disabled="disabled">btn btn-primary</button>
Solo hay que setear la propiedad <code>disabled = "disabled"</code>
