
@{
    ViewBag.Title = "GridSystem";
}

<h2>Sistema de grilla</h2>
<p>El sistema de grillas consisten en elementos de la clase <code>col</code> hijos de un elemento de la clase <code>row</code>.</p>
<p>Una fila por defecto se divide en 12 columnas.</p>
<p>El tamaño de las columnas se puede definir para celulares con <code>xs</code>, para tablets con <code>sm</code> y para ordenadores con <code>md</code>.</p>
<h2>Ejemplo de grilla responsive</h2>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6" style="border:1px solid blue">col-xs-12 col-sm-8 col-md-6</div>
    <div class="col-xs-12 col-sm-4 col-md-6" style="border:1px solid red">col-xs-12 col-sm-4 col-md-6</div>
</div>